<h2>Your Boat Bookings ⛵️</h2>

<ul>
  <% @bookings_as_owner.each do |booking| %>
    <li> Start Date: <%= booking.start_date %> | End Date: <%= booking.end_date %></li>
    <li> Status: <%= booking.confirmed %></li>
    <li> <%= link_to "#{booking.boat.name}", booking_path(booking)%></li>
    <%= link_to "Accept", accepted_booking_path(booking), method: :patch %>
    <%= link_to "Decline", declined_booking_path(booking), method: :patch %>
  <% end %>
</ul>

<h2>My Boat Bookings ⛵️</h2>

<ul>
  <% @bookings_as_renter.each do |booking| %>
    <li> Start Date: <%= booking.start_date %> | End Date: <%= booking.end_date %></li>
    <li> Status: <%= booking.confirmed %></li>
    <li> <%= link_to "#{booking.boat.name}", booking_path(booking)%></li>
  <% end %>
</ul>

<%= link_to "Discover more boats", boats_path, class: "btn btn-primary btn-lg" %>

<!-- "start_date"
"end_date"
"confirmed"
"user_id", null: false
"boat_id", null: false -->

